<% layout('layouts/boilerplate') %>
<div class="row mt-3">
    <div class="col-8 offset-2">
      <br>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data"> <!-- enctype="multipart/form-data" = “I am sending files + form data to the server.” . This is required when uploading files. enctype="multipart/form-data" is an HTML form attribute. It tells the browser how to package (encode) the form data when it’s sent to the server. */-->
      <div class="mb-3">
      <lable for="title" class="form-label">Title</lable>
      <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required/>
       <div class="valid-feedback">
      Title Looks good!
    </div>
      </div>
      <div class="mb-3">
      <lable for="description" class="form-label">Description</lable>
      <textarea name="listing[description]" class="form-control" required></textarea>
      <div class="invalid-feedback">
      Please provide a valid and detailed description.
    </div>
      </div>
      <div class="mb-3"> 
       <div class="mb-3">
      <lable for="image" class="form-label">Upload Image</lable>
      <input name="listing[image]" type="file" class="form-control" required/>
      </div>
<div class="row">      
      <div class="mb-3 col-md-4">
      <lable for="price" class="form-label">Price</lable>
      <input name="listing[price]" placeholder="sample price" class="form-control" required/>
      <div class="invalid-feedback">
      Please provide a valid price.
    </div>
      </div>
      <div class="mb-3 col-md-8">
      <lable for="country" class="form-label">Country</lable>
      <input name="listing[country]" placeholder="india" type="text" class="form-control" required />
      <div class="invalid-feedback">
      Please provide a valid country.
    </div>
      </div>
</div>      
      <div class="mb-3">
      <lable for="location" class="form-label">Location</lable>
      <input name="listing[location]" placeholder="jaipur , rajasthan " type="text" class="form-control" required/>
      <div class="invalid-feedback">
      Please provide a valid location.
    </div>
      </div>
      <button class="btn btn-dark add-btn mt-3">Add</button>
      <br>
    </form>
    <br>
</div>
</div>